<!DOCTYPE html>
<html>
  <head>
    <title>Chat Bot da PUCC</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Você tem alguma dúvida sobre a PUCC?</h1>
    <p>Sim? Acesse: <a href="./watson.html">Clique aqui</a></p>
  </body>
</html>
